@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TPro.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <style>

    </style>
</head>
<body>

    <div id="app">
        <div class="dashboard">
            <div class="dashboard-header row">
                <div class="col-md-4">
                    <h3>Work Order Creation</h3>
                </div>
                <div class="col-md-8 headerinfo">
                    <div class="headerinfo-item">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="glyphicon glyphicon-filter"></i> {{bu}}
                                <span class="downicon"> <i class="glyphicon glyphicon-triangle-bottom"></i></span>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a h ref="#">Action</a></li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="headerinfo-item">
                        <div class="input-group" id='datetimepicker'>
                            <input type='month' class="form-control" value="2022-11" />
                            <span class="downicon"> <i class="glyphicon glyphicon-triangle-bottom"></i></span>
                        </div>
                    </div>
                    <div class="headerinfo-item">
                        <p>Last Updated Time</p>
                        <p>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</p>
                    </div>
                </div>
            </div>
            <div class="dashboard-title">
                <div class="title-item" v-for="item,i in perlist" :key="i">
                    <div class="title-item-header">{{item.name}}</div>
                    <div class="title-item-body">
                        <div class="item-body-left" :style="perstyle(item)">
                            <span class="per">{{item.per}}</span><span class="perunit">{{item.unit}}</span>
                        </div>
                        <div class="item-body-right">
                            <p>目标</p>
                            <p>{{item.equalway+item.target+item.unit}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-content">
                <div class="content-header panel-list">
                    <div :class="nowindex==i?'panel-item panel-item-clicked':'panel-item'" @@click="checkitem(item,i)" v-for="item,i in panellist" :key="i">{{item.label}}</div>
                </div>
                <div class="content-body">
                    <table v-if="nowindex==0" border="1" class="table total-table">
                        <thead>
                            <tr v-for="one,i in thlist" :key="i">
                                <th v-for="two,j in one.list" :key="j" :rowspan="two.rowspan" :colspan="two.colspan">
                                    {{two.label}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="one,i in tbdlist" :key="i">
                                <td v-for="two,j in one" :key="j">
                                    <span v-show="false" class="td-warning">!</span>{{two}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table v-else class="table decimal-table">
                        <thead>
                            <tr>
                                <th v-for="one,i in thlist1" :key="i">
                                    {{one}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="one,i in tbdlist1" :key="i">
                                <td>{{one.number}}</td>
                                <td>{{one.name}}</td>
                                <td>{{one.startdate}}</td>
                                <td>{{one.firstdate}}</td>
                                <td>{{one.finishdate}}</td>
                                <td>{{one.gap}}</td>
                                <td>{{one.type}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    bu: 'AKMC CKB3',
                    perlist: [
                        { name: '自动化建单比例', per: 75, equalway: '>', target: 80, unit: '%' },
                        { name: '首次达交准确率', per: 73, equalway: '> ', target: 70, unit: '%' },
                        { name: '工单摆放金额(CNY)', per: 168, equalway: '<', target: 170, unit: 'M' },
                        { name: '工单摆放/最大产值占比', per: 118, equalway: '<', target: 120, unit: '%' },
                    ],
                    panellist: [
                        { label: '主面板', value: '' },
                        { label: '自动化建单', value: '' },
                        { label: '订单达交', value: '' },
                        { label: '工单摆放金额', value: '' },
                        { label: '异常警示', value: '' },
                    ],
                    nowindex: 0,
                    thlayer: 2,
                    thlist: [
                        {
                            layer: 1, list: [
                                { label: 'Owner', colspan: 1, rowspan: 2 },
                                { label: 'Nov-22', colspan: 3, rowspan: 1 },
                                { label: 'Dec-22', colspan: 2, rowspan: 1 },
                                { label: 'Jan-23', colspan: 2, rowspan: 1 },
                                { label: 'Feb-23', colspan: 2, rowspan: 1 },
                            ]
                        },
                        {
                            layer: 2, list: [
                                { label: '自动建单率', colspan: 1, rowspan: 1 },
                                { label: '首次达交率', colspan: 1, rowspan: 1 },
                                { label: '工单金额(M CNY)', colspan: 1, rowspan: 1 },
                                { label: '首次达交率', colspan: 1, rowspan: 1 },
                                { label: '工单金额(M CNY)', colspan: 1, rowspan: 1 },
                                { label: '首次达交率', colspan: 1, rowspan: 1 },
                                { label: '工单金额(M CNY)', colspan: 1, rowspan: 1 },
                                { label: '首次达交率', colspan: 1, rowspan: 1 },
                                { label: '工单金额(M CNY)', colspan: 1, rowspan: 1 },
                            ]
                        },
                    ],
                    tbdlist: [
                        ['Apple.Zhou', '78%', '70%', '17.2', '96%', '25.7', '85%', '25.7', '86%', '25.7'],
                        ['Apple.Zhou', '78%', '70%', '17.2', '96%', '25.7', '85%', '25.7', '86%', '25.7'],
                        ['Apple.Zhou', '78%', '70%', '17.2', '96%', '25.7', '85%', '25.7', '86%', '25.7'],
                    ],
                    thlist1: [
                        "工单号码",
                        "机种名称",
                        "Start Date",
                        "首次完工日",
                        "实际完工日",
                        "GAP",
                        "类别",
                    ],
                    tbdlist1: [
                        { number: "KCL6915DA", name: "9693211741E", startdate: "2022/11/7", firstdate: "2022/9/13", finishdate: "2022/11/15", gap: 63, type: 'T' },
                        { number: "KCL6915DA", name: "9693211741E", startdate: "2022/11/7", firstdate: "2022/9/13", finishdate: "2022/11/15", gap: 63, type: 'T' },
                        { number: "KCL6915DA", name: "9693211741E", startdate: "2022/11/7", firstdate: "2022/9/13", finishdate: "2022/11/15", gap: 63, type: 'T' },
                        { number: "KCL6915DA", name: "9693211741E", startdate: "2022/11/7", firstdate: "2022/9/13", finishdate: "2022/11/15", gap: 63, type: 'T' },
                        { number: "KCL6915DA", name: "9693211741E", startdate: "2022/11/7", firstdate: "2022/9/13", finishdate: "2022/11/15", gap: 63, type: 'T' },
                        { number: "KCL6915DA", name: "9693211741E", startdate: "2022/11/7", firstdate: "2022/9/13", finishdate: "2022/11/15", gap: 63, type: 'T' },
                    ]
                }
            },
            methods: {
                checkitem(item, index) {
                    this.nowindex = index;
                },
                perstyle(item) {
                    var color = "black"
                    if (item.equalway == '>' && (item.per < item.target)) {
                        color = "#ffc000"
                    } else if (item.equalway == '<' && (item.per > item.target)) {
                        color = "#ffc000"
                    }
                    return { color }
                },

            }
        })
    </script>
</body>
</html>